@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: #363958;

}

* {
    margin: 0;
}

header {
    background-color: #FFF9F4;
}

.navbar-brand img {
    width: 290px;
}

.navbar-nav li {
    font-weight: bold;
    color: #3C3C3C;
    padding: 0 20px;
    font-size: 18px;
    line-height: 24px;
}

/* .banner img {
    width: 607px;
    height: 607px;
} */

.banner-text {
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    color: #363958;
}

.banner-text span {
    color: #FA804C;

}

.button-custom {
    width: 170px;
    height: 60px;
    color: #fff;
    background: linear-gradient(180deg, #3D4FF3 0%, #3543BC 100%);
    border-radius: 10px;
}

/* shoes style  */


.col-md-4 {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.card-design img {
    width: 334px;
    height: 327px;
    margin-left: auto;
}

.dolar {
    margin: auto 0;
    font-weight: bold;
    color: #FA804C;
}



.product-title {
    font-weight: bold;
    color: #363958;

}